@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (orientation: landscape) {
    #matrix {
        height: 100%;
    }
}
@media (orientation: portrait) {
    #matrix {
        width: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7f7f7;
}

* {
    font-weight: 100;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 24px;
    box-sizing: border-box;

    height: 100vh;
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 4px;
}

.team-select-wrapper > label {
    font-size: .9rem;
    margin-right: 8px;
}

select {
    appearance: none; /* Removes the default dropdown arrow (for most browsers) */
    -webkit-appearance: none; /* Removes the dropdown arrow in WebKit browsers (Safari, Chrome) */
    -moz-appearance: none; /* Removes the dropdown arrow in Firefox */

    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #252525;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    cursor: pointer; /* Show pointer cursor */
}

.generate-matrix-wrapper > button {
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #5cb85c;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#matrix {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: 6px;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: black;
    border-radius: 8px;
    padding: 16px;

    aspect-ratio: 1;
}

#matrix > div {
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.teamA {
    background: url("imgs/redCell.png");
}

.teamB {
    background: url("imgs/blueCell.png");
}

.neutral {
    background: url("imgs/neutralCell.png");
}

.death {
    background: url("imgs/deathCell.png");
}