body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#matrix {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: 6px;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: black;
    border-radius: 8px;
    padding: 16px;

    flex: 1 1 0;
    aspect-ratio: 1;
}

#matrix > div {
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.teamA {
    background: url("imgs/redCell.png");
}

.teamB {
    background: url("imgs/blueCell.png");
}

.neutral {
    background: url("imgs/neutralCell.png");
}

.death {
    background: url("imgs/deathCell.png");
}